<%= navigationBar(NavigationHelper::ADMIN_SURVIVOR_ENTRIES_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Manage <%= @current_year %> Survivor Entries</h3>
      <!-- TODO change year -->
	  <%= all_entries_table(@users, @user_to_entries_count_map) %>
  </div>
</div>
