
<%= navigationBar(NavigationHelper::ADMIN_NFL_SCHEDULE_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>Manage NFL Schedule</h3>

    <label for='week_chooser'>Select Week: </label>
    <select id='week_chooser' class='input-medium'>
    <% @weeks.each { |week| %>
      <option value=<%= week.number %>
              <%= (week.number == (@current_week) ? "selected" : "") %>>
        Week <%= week.number %>
      </option>
    <% } %>
    </select>
    <div id='schedresults'></div>
</div></div>

<script type="text/javascript">
  // Loads the nfl schedule week page asynchronously & populates the schedresults div with the
  // results
  function week_schedule_ajax() {
    $.ajax({
      url: "/ajax/nfl_schedule/adminweek/" + document.getElementById("week_chooser").value,
      success: function(data) {
        $("#schedresults").html(data);
      }
    });
  }

  // On document ready, load the selected week's schedule, and set the selected data to be updated
  // whenever the corresponding selectors are changed.
  $(document).ready(function() {
    week_schedule_ajax();
    $("#week_chooser").change(function() {
      week_schedule_ajax();
    });
  });
</script>