
<%= navigationBar(NavigationHelper::MY_GAMES_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>NFL Survivor</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4 center'>
    <h4>Survivor</h4>
  </div>
  <div class='span4 center'>
    <h4>Anti-Survivor</h4>
  </div>
  <div class='span4 center'>
    <h4>High Roller</h4>
  </div>
</div>
