
<%= navigationBar(NavigationHelper::SURVIVOR_GAME_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>NFL Survivor</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4 center'>
    <h4>My Entries</h4>
  </div>
  <div class='span8 center'>
    <h4>Something</h4>
  </div>
</div>
