<ul>
<li>
Same as Survivor, but you pick a team to LOSE each week and can NOT pick the same team twice all regular season. 
</li>
<li><strong>
Weeks 13-17, you will be making TWO picks, both picks must lose in order to advance to the next week.  
</strong></li>
<li>
Single-elimination, if your pick wins or ties, you are ELIMINATED!
</li>
</ul>

<h5>PAYOUTS</h5>
<ul>
<li>The last person standing without a win, takes home 80% of the pot!</li>
<li>The second to last person standing without a win, takes home 20% of the pot!</li>
</ul>

<h5>TIEBREAKERS</h5>
<ul>
<li>
If, prior to Week 13, all the remaining entrants all pick incorrect in the same week, the pool will end and the pot will be split accordingly. 
</li>
<li>
If in Weeks 13 thru 17, for example, three entrants are left, and one entrant picks one out of two incorrect and the other two entrants pick both incorrect, the entrant who picked one out of two would win 1st place and then other two entrants would split 2nd and 3rd.
</li>
<li>
If, using the same example as above, one picks both games correct, one picks one of two correct, and one picks both wrong, then the person who picked both right wins 1st, the person who got one of out of two right gets 2nd, and the other person gets 3rd.
</li>
<li>
If two or more entrants are still remaining at the end of the regular season, the pot will be split accordingly.
</li>
</ul>

<h5>ANTI-DEFAULT PICKS</h5>
<ul>
<li>
There will be NO DEFAULT PICKS this year.  If you fail to make your pick, you are automatically ELIMINATED – zero exceptions to this rule!!!
</li>
</ul>