<ul>
<li>
Same concept as Survivor, except you can pick a team only once all season INCLUDING THE PLAYOFFS!  If you use a team during the regular season that makes the playoffs, you can NOT use them again.
</li>
<li>
There are NO multiple picks in any weeks. 
</li>
<li>
For the playoffs, you will have to make FOUR picks (one wild card game, one divisional round, one championship round and the Super Bowl)
</li>
<li>
If you have already used all remaining playoff teams and do not have a pick to make, you are “boxed-out” and ELIMINATED!
</li>
</ul>

<h5>TIEBREAKERS</h5>
<ul>
<li>
If the last two or more entrants all pick incorrect in the same week (but not the final week of the regular season), then they will continue to make picks the following week.
</li>
<li>
If two entrants are left and one is “boxed-out” and the other can still make a pick, that person wins regardless of the outcome.
</li>
</ul>

<h5>HIGH ROLLER-DEFAULT PICKS</h5>
<ul>
<li>
There will be NO DEFAULT PICKS this year.  If you fail to make your pick, you are automatically ELIMINATED – zero exceptions to this rule!!!
</li>
</ul>