<ul>
<li>
Same concept as Survivor, except you can pick a team only once all season INCLUDING THE PLAYOFFS!  If you use a team during the regular season that makes the playoffs, you can NOT use them again.
</li>
<li>
There are NO multiple picks in any weeks. 
</li>
<li>
For the playoffs, you will have to make FOUR picks (one wild card game, one divisional round, one championship round and the Super Bowl)
</li>
<li>
If you have already used all remaining playoff teams and do not have a pick to make, you are “boxed-out” and ELIMINATED!
</li>
</ul>

<h5>PAYOUTS</h5>
<ul>
<li>The last person standing without a loss, takes home 80% of the pot!</li>
<li>The second to last person standing without a loss, takes home 20% of the pot!</li>
</ul>

<h5>TIEBREAKERS</h5>
<ul>
<li>
If the last two or more entrants all pick incorrect in the same week then the contest will end and the pot will be split.
</li>
<li>
If two or more entrants are tied at the end of the Super Bowl, the pot will be split.
</li>
<li>
If two entrants are left and one is “boxed-out” and the other can still make a pick, that person wins regardless of the outcome.
</li>
</ul>

<h5>HIGH ROLLER-DEFAULT PICKS</h5>
<ul>
<li>
There will be NO DEFAULT PICKS this year.  If you fail to make your pick, you are automatically ELIMINATED – zero exceptions to this rule!!!
</li>
</ul>