
<ul>
<li>
    Beginning Week 7 and thru Week 17 (11 weeks total) for each entry you have, you will submit TWO picks for each week (so if you make it thru all weeks, you'll have made 22 picks).
</li>
<li>
    Once you pick a team, you can NOT use them again.
</li>
<li>
If both teams win, you advance to the next week, if either or both lose or tie, you are eliminated.
</li>
<li>
You are picking thru the end of the regular season - the playoffs have no bearing on this contest.
</li>
</ul>

<h5>TIEBREAKERS (and Hypothetical Situations)</h5>
<ul>
<li>
If say only two entries remain going into a week and one person gets both picks wrong that week and the other person gets only one wrong, the person who got only one wrong is the champion.
</li>
<li>
If say ten entries remain going into a week and five get both picks wrong and five get one pick wrong, then those five who got only one wrong advance to the next week. Same situation if all ten get both picks wrong or all ten get one pick wrong, all ten still advance to the next week.
</li>
</ul>
