<ul>
<li>
    Each week you pick one team that you think will win.  If that team wins, you move on to the next week.  If that team loses or ties, you are ELIMINATED!
</li>
<li><strong>
    Weeks 13-17, you will be making TWO picks each week, both must win in order to advance to the next week.  
</strong></li>
<li>
    You can <strong>NOT</strong> pick the same team twice all regular season.
</li>
<li>
    If the team you select ties, it counts as a loss. You must win to survive. 
</li>
<li>
    It’s a one-and-done format, if you lose, you are ELIMINATED!
</li>
</ul>

<h5>TIEBREAKERS</h5>
<ul>
<li>If the last two or more entrants all pick incorrect in the same week (but not the final week of the regular season), then they will continue to make picks the following week.  The exception to this is if in Weeks 13 thru 17, if for example, three entrants are left, and one entrant picks one out of two incorrect and the other two entrants pick both incorrect, the entrant who picked one out of two would win and then other two entrants would continue playing the following week for second place.
</li>
</ul>
 
<h5>DEFAULT PICKS</h5>
<ul>
<li>
There will be NO DEFAULT PICKS this year.  If you fail to make your pick, you are automatically ELIMINATED – zero exceptions to this rule!!!
</li>
</ul>